[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cAIC4"]
	path = cAIC4
	url = https://github.com/cran/cAIC4
[submodule "deepregression"]
	path = deepregression
	url = https://github.com/cran/deepregression
